@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap");

body, section, header {
  background-color: white !important;
}

#quarto-document-content {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-size: 15pt;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  z-index: 1;
}

#quarto-document-content h1 {
  font-family: "Roboto Slab", "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 2.8em;
  line-height: 1;
}

.cr-section .sticky-col {
  padding-left: 30px;
  padding-right: 30px;
}

.cr-section.sidebar-left .sticky-col {
  padding-left: 30px;
  padding-right: 30px;
}

.cr-section.sidebar-left .narrative-col {
  background-color: transparent;
  min-width: 40svw;
  padding-left: 80px;
}

/* Override the padding for the first block */
.cr-section.cr-section.sidebar-left .narrative-col > *:first-child {
  padding-block-start: 20svh;
}

.cr-section.overlay-center .narrative-col .narrative {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(255, 255, 255);
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  text-align: center;
  min-width: 50svw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Override the padding for the first block */
.cr-section.overlay-center .narrative-col > *:first-child {
  padding-block-start: 50svh;
}

.cr-section.overlay-center .narrative-col .trigger .narrative {
  padding: 0;
}

.cr-section.overlay-center .narrative-col .trigger .narrative p {
  padding: 1% !important;
}

#info {
  background-color:linen !important;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 40vh; 
  bottom: 0;
}

#info p {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 1.1rem;
  margin: 0;
  position: relative;
  display: flexbox;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 576px) {
  .cr-section.sidebar-left .narrative-col,
  .cr-section.sidebar-right .narrative-col,
  .cr-section.overlay-left .narrative-col,
  .cr-section.overlay-right .narrative-col,
  .cr-section.overlay-center .narrative-col {
    background-color: transparent;
  }

  .cr-section.sidebar-left .narrative-col .narrative > *,
  .cr-section.sidebar-right .narrative-col .narrative > *,
  .cr-section.overlay-left .narrative-col .narrative > *,
  .cr-section.overlay-right .narrative-col .narrative > *,
  .cr-section.overlay-center .narrative-col .narrative > * {
    background-color: rgba(255, 255, 255, .9);
    padding: 5px;
    color: black;
    font-family: "Barlow Condensed";
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    min-width: 50svw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cr-section .narrative-col .trigger .narrative {
    padding: 0em;
  }

  #info p {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}